
.input-group {
    justify-content: center;
}

#search-box-input {
    box-shadow: none;
    max-width: 600px;
    height: 40px;
}

#search-box-button {
    background-color: #191e56;
}

#search-box-dropdown {
    border-top-left-radius: 0;
    border: 1px solid #ced4da;
    box-shadow: none;
    width: 110px;
}

#search-box-tab-tab-normal.nav-link.active {
    background-color: #191e56;
    color: white;
}

#search-box-tab-tab-normal {
    color: black;
    width: 110px;
    text-align: center;
}

#search-box-tab-tab-academic.nav-link.active {
    background-color: #191e56;
    color: white;
}

#search-box-tab-tab-academic {
    color: black;
    width: 110px;
    text-align: center;
}

.list {
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    margin-right: 55px;
    width: auto;
    position: relative;
    color: #444;
}

.resultList {
    height: 100%;
    display: block;
    width: 83%;
    position: absolute;
    z-index: 2;
    border-collapse: collapse;
    border-spacing: 0;
    color: #444;
    margin-left: 110px;
}

.ul_style {
    border-left: #efefef;
    /*margin-left: 110px;*/
    padding: 0px;
    position: relative;
    z-index: 100;
    background-color: white;
    cursor: pointer;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, .1), 0px 0px 15px 0px rgba(0, 0, 0, .18);
    color: #444;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none;
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .18);*/
}

.ul_style li {
    white-space: nowrap;
    list-style-type: none;
    z-index: 66;
    float: none;
}

.ul_style li:hover {
    background-color: #ececec;
}

.base {
    color: #639;
    margin-left: 0px;
    position: relative;
}

.left {
    display: inline-block;
    line-height: 36px;
    margin-left: 10px;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
}

.right {
    display: inline-block;
    line-height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    flex: 1 1 auto;
    /*width: 10%;*/
}

.right a {
    color: #001ba0;
    font-size: small;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    padding-right: 10px;
}


/*.formGroup {*/
/*margin-bottom: 0rem !important;*/
/*}*/

/*.mb3 {*/
/*margin-bottom: 0rem !important;*/
/*}*/