# This is a basic workflow to help you get started with Actions

name: Deploy MkDocs to Github Pages

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        
      - name: Setup Python
        uses: actions/setup-python@v4.1.0
          
      - name: Setup Node.js
        uses: actions/setup-node@v3.3.0

      - name: Build
        run: |
          chmod u+x build.ps1
          ./build.ps1
          
      - name: Deploy to Github Pages
        uses: crazy-max/ghaction-github-pages@v3.0.0
        with:
          build_dir: build
          fqdn: wiki.xjtlu.zone
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
    
